@import "tailwindcss";

body {
  background-color: #080808;
  color: #b8b4ac;
  font-family: "Inter Variable", sans-serif;
  accent-color: #d8b56a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
  color: #d8b56a;
}
